<!DOCTYPE html>
<html layout:decorator="layouts/main" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Convertir documentos</title>
        <link rel="stylesheet" th:href="@{/css/main.css}" />
    </head>
    <body>
        <div layout:fragment="content">
            <h1>Convertí tus documentos</h1>
            <p>¿Tenés un PDF y querés convertirlo en ePub para leerlo en tu dispositivo? ¡Calíope te ayuda!</p>

            <div class="panel panel-default">
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label>Quiero convertir un archivo de tipo...</label>
                            <select class="form-control">
                                <option th:each="format : ${mainInputFormats}" th:text="${format}" th:value="${format}">ePub</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Archivo a convertir</label>
                            <input type="file" />
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-success btn-lg dropdown-toggle" data-toggle="dropdown">
                                Convertir en... <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li th:each="format : ${mainOutputFormats}"><a href="#" th:text="${format}">ePub</a></li>
                                <li role="separator" class="divider"></li>
                                <li th:each="format : ${allOutputFormats}"><a href="#" th:text="${format}">ePub</a></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </body>
</html>

