<!DOCTYPE html>
<html layout:decorator="layouts/home" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>El encuentro entre lectores y escritores</title>
        <style>
            .countSeconds {
                display: none;
            }
            .notify {
                display: none;
            }
        </style>
        <link rel="stylesheet" th:href="@{/css/home.css}" />
        <script th:src="@{/js/ui/home.js}"></script>
    </head>
    <body>

        <div layout:fragment="content">
            <h2>El encuentro entre lectores <span class="js-rotating destacado">curiosos, inquietos, audaces, constantes, intr&eacute;pidos, apasionados</span></h2>
            <h2>y escritores <span class="js-rotating destacado">independientes, talentosos, creativos, originales, comprometidos, inspirados, novedosos, diferentes</span></h2>

            <div id="counter" class="countdownHolder"> </div>

            <div class="button notify"><a href="#">Avisarme</a></div>
        </div>

    </body>
</html>

