/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. *//*
    Created on : 13/02/2016, 12:13:06
    Author     : Leito
*/

body{
    background:#00AEEF;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 5em;
}

p {
    font-size: 1.5em;
}

.navbar {
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
    border-radius: 0px;
    min-height: 60px
}
.navbar.navbar-inverse .navbar-brand {
    color: white;
    font-size: 1.4em;
}
.panel {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}