<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Calíope</title>

        <link rel="stylesheet" th:href="@{/js/libs/twitter-bootstrap/css/bootstrap.min.css}" />
        <link rel="stylesheet" th:href="@{/js/libs/animate.css/animate.min.css}" />
        <link rel="stylesheet" th:href="@{/js/libs/morphtext/morphext.css}" />
        <link href='https://fonts.googleapis.com/css?family=Amatic+SC:700|Open+Sans' rel='stylesheet' type='text/css' />

        <style>
            .social-icons {
                display: none;
            }
        </style>

        <script th:src="@{/js/libs/jquery/jquery.min.js}"></script>
        <script th:src="@{/js/libs/twitter-bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/libs/jquery-countdown/jquery.countdown.js}"></script>
        <script th:src="@{/js/libs/morphtext/morphext.min.js}"></script>
    </head>
    <body>
        <div class="wrap">
            <div class="header">
                <div class="logo">
                    <h1>Calíope</h1>
                    <h2>club</h2>
                </div>
                <div class="social-icons">
                    <ul>
                        <li><a class="facebook" href="#" target="_blank"> </a></li>
                        <li><a class="twitter" href="#" target="_blank"></a></li>
                        <li><a class="googleplus" href="#" target="_blank"></a></li>
                        <!--/*
                        <li><a class="pinterest" href="#" target="_blank"></a></li>
                        <li><a class="dribbble" href="#" target="_blank"></a></li>
                        <li><a class="vimeo" href="#" target="_blank"></a></li>
                        */-->
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>

            <div class="main">
                <div layout:fragment="content" class="content">
                    El contenido principal.
                </div>
            </div>

        </div>
    </body>
</html>

