<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Calíope</title>

        <link rel="stylesheet" th:href="@{/js/libs/twitter-bootstrap/css/bootstrap.min.css}" />
        <link href='https://fonts.googleapis.com/css?family=Amatic+SC:700|Open+Sans' rel='stylesheet' type='text/css' />

        <script th:src="@{/js/libs/jquery/jquery.min.js}"></script>
        <script th:src="@{/js/libs/twitter-bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{/}">Caliope</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/}">Inicio</a></li>
                        <li><a th:href="@{/convertir}">Convertir</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div layout:fragment="content" class="container">
            El contenido principal.
        </div>
    </body>
</html>

